{% extends "layouts/base.html" %}

{% block title %}
  Registro
{% endblock  %}

{% block content %}
  <h1>Esto es un formulario de registro</h1>
  <div class="row">
    <div class="col-12 col-md-4 offset-md-4">
      <form method="post" action="/registro">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="dexampleInputEmail1" aria-describedby="emailHelp" name="first_name" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Confirme Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword2" name="pass_confirm" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
    </div>
  </div>
{% endblock  %}